.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}

.title-cards h2 {
    margin-bottom: 8px;
    margin-left: 3%;
}

.card-list-wrapper {
    position: relative;
    margin-left: 3%;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img {
    border-radius: 4px;
}

.card {
    position: relative;
}

.card img {
    width: 260px;
}

.card-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
    display: block;
    opacity: 1;
}


.scroll-button-right,
.scroll-button-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.scroll-button-right {
    right: 10px;
}

.scroll-button-left {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
    display: none;
}

.more-cards-icon {
    height: 40px;
    width: 40px;
}

.add-mylist {
    position: absolute;
    right: 0;
    top: -25px;
    z-index: 2;
}



@media (max-width: 768px) {
    .title-cards {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .title-cards h2 {
        font-size: 20px;
    }
    .card-list img {
        width: 200px;
    }
    .card-list p {
        font-size: 12px;
    }
    .card-overlay {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .title-cards h2 {
        font-size: 15px;
    }
    .card-list img {
        width: 165px;
    }
    .card-list p {
        font-size: 10px;
    }
    .card-overlay {
        font-size: 10px;
    }
}
