.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}

.title-cards h2 {
    margin-bottom: 8px;
    margin-left: 3%;
}

.card-list-wrapper {
    position: relative;
    margin-left: 3%;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img {
    width: 260px;
    border-radius: 4px;
    cursor: pointer;
}

.card {
    position: relative;
}

.card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}

.scroll-button-right,
.scroll-button-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.scroll-button-right {
    right: 10px;  
}

.scroll-button-left {
    left: 10px;  
    transform: translateY(-50%) rotate(180deg);
    display: none;
}

.more-cards-icon {
    height: 40px;
    width: 40px;
}

@media (max-width: 768px) {
    .title-cards {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .title-cards h2 {
        font-size: 20px;
    }
    .card-list img {
        width: 200px;
    }
    .card-list p {
        font-size: 12px;
    }
}  

@media (max-width: 576px) {
    .title-cards h2 {
        font-size: 15px;
    }
    .card-list img {
        width: 165px;
    }
    .card-list p {
        font-size: 10px;
    }
}  
