.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left .netflix-logo {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: white;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons {
    width: 20px;
    cursor: pointer;
}

.hamburger-icon {
    filter: invert(1);
    display: none;
    height: 20px;
    width: 20px;
}

.navbar-right .profile {
    border-radius: 4px;
    width: 35px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background-color: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown {
    display: block;
}

.nav-dark {
    background-color: #141414;
}


.search-box {
    position: relative;
    width: 250px;
    border: 1px solid white;
    outline: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.search-box input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.search-box input[type="text"]::placeholder {
    color: gray;
}

.search-box::before {
    content: url('../../assets/search_icon.svg');
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}

.close-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-left: 5px;
}


.search-box input[type="text"] {
    padding-left: 30px;
}

.side-menu {
    position: fixed;
    top: 66px;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #141414;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 11;
  }

  .side-menu.visible {
    left: 0; 
  }

  .side-menu-link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }

  .side-menu-profile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
  }

  .side-menu-profile .profile {
    margin-right: 10px;
  }

  .profile-name {
    font-size: 16px;
    font-weight: bold;
  }

  .profile-switch {
    font-size: 14px;
    color: #777;
  }


.side-menu-options {
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }


@media (max-width: 1050px) {
    .navbar {
        padding: 20px 2%;
    }

    .side-menu{
        padding: 10px 2%;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar img {
        height: 25px;
    }

    .hamburger-icon {
        display: block;
    }

    .navbar-left {
        gap: 20px;
    }

}

@media (max-width: 768px) {
    .navbar-profile {
        display: none;
    }
    .children-icon {
        display: none;
    }
    .bell_icon {
        display: none;
    }
}

@media (max-width: 500px) {
    .navbar img {
        height: 20px;
    }

    .navbar-right {
        gap: 10px;
    }

    .children-icon {
        display: none;
    }
}