.mylist-list {
    padding: 100px 6% 0 6%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.mylist-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mylist-spinner {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mylist-error_page {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .mylist-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .mylist-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .mylist-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .mylist-list {
        grid-template-columns: 1fr;
    }
}

