.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    width: 700px;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid red;
    z-index: 999;
    position: relative;
}

.popupBtn{
    background-color: white !important;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
  }
.popup-content img {
    width: 100%;
}
.card-info-popup-image {
    position: relative;
}



